- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.mainblock.type3
				.slider
					.slide
						.slide-left
							img.slide__img(src=img+"mainblock/all-on-4-img.jpg", alt="")
						.slide-right
							.block-title <b>Восстановление зубов за 1 день</b> <br> по системе <span>All on 4</span> от 149 900 ₽.
							.block-text Записаться <span>на бесплатную консультацию:</span>
							include blocks/_entry-form.pug
							ul.anchor-menu
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#") Описание
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#") Стоимость работ
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#") Примеры
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#") Врачи
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#") Акции

			section.block-icons
				.container
					.block-title.type2 <span>Забудьте о проблемах</span> с зубами
					.inner
						.item
							.img-wrap
								img.item__img(src=img+"icons/clock.svg", alt="")
							.item__text <span>Полное восстановление</span> утраченных зубов всего за несколько часов
						.item
							.img-wrap
								img.item__img(src=img+"icons/cool.svg", alt="")
							.item__text <span>Не нужно ждать — пациенту</span> сразу же  устанавливают эстетичный временный протез
						.item
							.img-wrap
								img.item__img(src=img+"icons/wallet.svg", alt="")
							.item__text <span>Восстановить зубы гораздо дешевле,</span> чем ставить несколько «одиночных» имплантов.
						.item
							.img-wrap
								img.item__img(src=img+"icons/cool2.svg", alt="")
							.item__text <span>Пожизненная гарантия</span> на имплантанты Nobel Biocare

			//- section.category-about
				.container
					.category-about-left
					.category-about-right
						.bock-title Об имплантации <span>по методу All on 4</span>
						.text-container
							p Это современная технология протезирования при полном или почти полном отсутствии зубов.
							p Технология также известна, как имплантация с моментальной нагрузкой или экспресс-имплантация. Вам установят 4 импланта, на них закрепят протез.
							p Операция займет около часа, изготовление протеза около 12 часов. <br> Имплантат и коронка устанавливаются за один визит к стоматологу. Утром вы просто приходите в клинику, а вечером уходите уже с зубами.

			section.teeth
				.container
					.block-title.type2 <span>Поможет</span> даже <span>в сложных случаях</span>
					.block-text Технология All-on-4  - это самый быстрый и безопасный способ вернуть утраченную улыбку и <br> восстановить жевательную функцию
					.inner
						.item
							.item-img
								img.item__img(src=img+"teeth/i1.jpg", alt="")
							.item__text Полное отсутствие зубов
						.item
							.item-img
								img.item__img(src=img+"teeth/i2.jpg", alt="")
							.item__text Зубов почти нет
						.item
							.item-img
								img.item__img(src=img+"teeth/i3.jpg", alt="")
							.item__text Пародонтоз
						.item
							.item-img
								img.item__img(src=img+"teeth/i4.jpg", alt="")
							.item__text Съемные протезы

			section.big-advantages
				.container
					.block-title.type2 <span>3 весомых преимущества</span> технологии «Зубы за 1 день»
					.inner
						.item
							.item-title
								.item__circle 1
								.item__title Можно сразу есть
							.item__text Моментальная реабилитация жевательной функции. <br> Вы сможете сразу же пережевывать пищу  и чувствовать вкус еды.
						.item
							.item-title
								.item__circle 2
								.item__title Новые зубы как свои
							.item__text Зубные протезы смотрятся и ощущаются как родные, а несъемная конструкция не закрывает нёбо.
						.item
							.item-title
								.item__circle 3
								.item__title Лечение без остеопластики
							.item__text В подавляющем большинстве случаев не требуется проведение дорогостоящих процедур по наращиванию кости.

			section.stages
				.container
					.block-title.type2 <span>4 этапа выполнения</span> данной технологии
					.inner
						.item
							.item__title Этап 1 — подготовительный
							.item__text После осмотра и диагностики стоматолог определяет состояние челюсти и ротовой полости пациента. <br> Если возникает необходимость, проводятся гигиенические процедуры.
						.item
							.item__title Этап 2 — подбор имплантов
							.item__text Для подбора оптимальных имплантов стоматологи применяют компьютерное моделирование и создают хирургические шаблоны. Благодаря данным действиям установка имплантов впоследствии проходит максимально точно.
						.item
							.item__title Этап 3 — имплантация
							.item__text В челюсть вживляются 4 импланта: 2 из них устанавливаются во фронтальном отделе челюсти горизонтально, 2 других – в боковом отделе челюсти под углом 45 градусов, не задевая гайморовые пазухи в верхней челюсти и нижнечелюстной нерв  – в нижней, что обеспечит преимущество по сравнению с классической имплантацией, ведь нет необходимости делать синус-лифтинг и долго ждать.
						.item
							.item__title Этап 4 — производство протезов и их установка
							.item__text Стоматолог сразу же после установки имплантов делает слепок, по которому зубной техник изготавливает протезные конструкции. <br> На следующий день после имплантации протезы можно установить в ротовую полость.

			//- .circle1
			//- .circle2

			include blocks/doctors.pug
			include blocks/security.pug
			include blocks/stocks.pug
			include blocks/rating.pug
			include blocks/seo.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug