- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.breadcrumbs
				.container
					ul.list
						li
							a(href="index.html") На главную
						li
							a(href="all-on-4.html") All on 4

			section.mainblock.type3
				.slider
					.slide
						.slide-left
							img.slide__img(src=img+"mainblock/all-on-4-img.jpg", alt="")
						.slide-right
							.block-title <b>Восстановление зубов за 1 день</b> <br> по системе <span>All on 4</span> от 149 900 ₽.
							.block-text Записаться <span>на бесплатную консультацию:</span>
							include blocks/_entry-form.pug
							ul.anchor-menu
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#category-about") Описание
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#implantation-cost") Стоимость работ
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#portfolio") Примеры
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#doctors") Врачи
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#stocks") Акции

			section.block-icons
				.container
					.block-title.type2 <span>Забудьте о проблемах</span> с зубами
					.inner
						.item
							.img-wrap
								img.item__img(src=img+"icons/clock.svg", alt="")
							.item__text <span>Полное восстановление</span> утраченных зубов всего за несколько часов
						.item
							.img-wrap
								img.item__img(src=img+"icons/cool.svg", alt="")
							.item__text <span>Не нужно ждать — пациенту</span> сразу же  устанавливают эстетичный временный протез
						.item
							.img-wrap
								img.item__img(src=img+"icons/wallet.svg", alt="")
							.item__text <span>Восстановить зубы гораздо дешевле,</span> чем ставить несколько «одиночных» имплантов.
						.item
							.img-wrap
								img.item__img(src=img+"icons/cool2.svg", alt="")
							.item__text <span>Пожизненная гарантия</span> на имплантанты Nobel Biocare

			section.category-about#category-about
				.container
					.category-about-left
						img.category-about__img(src=img+"category-about/protez_6-1-1.gif", alt="")
					.category-about-right
						.block-title.type2 Об имплантации <span>по методу All on 4</span>
						.text-container
							p Это современная технология протезирования при полном или почти полном отсутствии зубов.
							p Технология также известна, как имплантация с моментальной нагрузкой или экспресс-имплантация. Вам установят 4 импланта, на них закрепят протез.
							p Операция займет около часа, изготовление протеза около 12 часов. <br> Имплантат и коронка устанавливаются за один визит к стоматологу. Утром вы просто приходите в клинику, а вечером уходите уже с зубами.

			section.teeth
				.container
					.block-title.type2 <span>Поможет</span> даже <span>в сложных случаях</span>
					.block-text Технология All-on-4  - это самый быстрый и безопасный способ вернуть утраченную улыбку и <br> восстановить жевательную функцию
					.inner
						.item
							.item-img
								img.item__img(src=img+"teeth/i1.jpg", alt="")
							.item__text Полное отсутствие зубов
						.item
							.item-img
								img.item__img(src=img+"teeth/i2.jpg", alt="")
							.item__text Зубов почти нет
						.item
							.item-img
								img.item__img(src=img+"teeth/i3.jpg", alt="")
							.item__text Пародонтоз
						.item
							.item-img
								img.item__img(src=img+"teeth/i4.jpg", alt="")
							.item__text Съемные протезы

			section.big-advantages
				.container
					.block-title.type2 <span>3 весомых преимущества</span> технологии «Зубы за 1 день»
					.inner
						.item
							.item-title
								.item__circle 1
								.item__title Можно сразу есть
							.item__text Моментальная реабилитация жевательной функции. <br> Вы сможете сразу же пережевывать пищу  и чувствовать вкус еды.
						.item
							.item-title
								.item__circle 2
								.item__title Новые зубы как свои
							.item__text Зубные протезы смотрятся и ощущаются как родные, а несъемная конструкция не закрывает нёбо.
						.item
							.item-title
								.item__circle 3
								.item__title Лечение без остеопластики
							.item__text В подавляющем большинстве случаев не требуется проведение дорогостоящих процедур по наращиванию кости.

			section.stages
				.container
					.block-title.type2 <span>4 этапа выполнения</span> данной технологии
					.inner
						.item
							.item__title <span>Этап 1</span> — подготовительный
							.item__text После осмотра и диагностики стоматолог определяет состояние челюсти и ротовой полости пациента. <br> Если возникает необходимость, проводятся гигиенические процедуры.
						.item
							.item__title <span>Этап 2</span> — подбор имплантов
							.item__text Для подбора оптимальных имплантов стоматологи применяют компьютерное моделирование и создают хирургические шаблоны. Благодаря данным действиям установка имплантов впоследствии проходит максимально точно.
						.item
							.item__title <span>Этап 3</span> — имплантация
							.item__text В челюсть вживляются 4 импланта: 2 из них устанавливаются во фронтальном отделе челюсти горизонтально, 2 других – в боковом отделе челюсти под углом 45 градусов, не задевая гайморовые пазухи в верхней челюсти и нижнечелюстной нерв  – в нижней, что обеспечит преимущество по сравнению с классической имплантацией, ведь нет необходимости делать синус-лифтинг и долго ждать.
						.item
							.item__title <span>Этап 4</span> — производство протезов и их установка
							.item__text Стоматолог сразу же после установки имплантов делает слепок, по которому зубной техник изготавливает протезные конструкции. <br> На следующий день после имплантации протезы можно установить в ротовую полость.

			section.money-economy
				.container
					.money-economy-left
					.money-economy-right
						.block-title.type2 <span>Реальная экономия</span> денег
						.block-text Стоимость лечения по технологии "Все зубы за 1 день" <b>в 2 раза дешевле</b>, чем другими методами
						.items
							.item
								.item__text Устанавливается всего 4 или 6 имплантов, а не 8 или 12 как при классической имплантации зубов
							.item
								.item__text Сокращается количество процедур, визитов к врачу и расходных материалов
							.item
								.item__text Вы получаете качественные несъемные протезы, которые гарантированно прослужат десятки лет

			section.implantation-cost#implantation-cost
				.container
					.block-title.type2 <span>Стоимость</span> имплантации Allon 4 <span>в Москве</span>
					.inner
						.card
							.card-inner
								.card-col
									.card__title На <span>4x</span> имплантах
									.card__text Для пациентов с нормальным состоянием костной ткани
									.card__text2 Первичная консультация <span>бесплатная!</span>
									.card-price
										span.card-price__text Цена под ключ:
										span.card-price__num 149 900 ₽
									a.submit.popup-link(href="#callback") Записаться на прём
								.card-col
									.card-country
										.card-country__text <span>Osstem</span>, <br> Южная Корея
										img.card-country__img(src=img+"implantation-cost/logo1.png", alt="")
									ul.card-advantages
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M10.5 0.886719C4.71007 0.886719 0 5.59679 0 11.3867C0 17.1767 4.71007 21.8867 10.5 21.8867C16.2899 21.8867 21 17.1767 21 11.3867C21 5.59679 16.2899 0.886719 10.5 0.886719ZM15.4937 16.8178C15.323 16.9884 15.099 17.0743 14.8751 17.0743C14.6511 17.0743 14.4269 16.9884 14.2565 16.8178L9.8814 12.4429C9.71686 12.2793 9.62505 12.0569 9.62505 11.8243V6.13672C9.62505 5.65286 10.0169 5.26177 10.5 5.26177C10.9831 5.26177 11.3749 5.65286 11.3749 6.13672V11.462L15.4937 15.5806C15.8357 15.9228 15.8357 16.4757 15.4937 16.8178Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="21" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text За 1 день
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M2.18749 10.0742C0.98175 10.0742 0 11.056 0 12.2617V19.2617C0 20.4675 0.98175 21.4492 2.18749 21.4492H4.81249C5.30512 21.4492 5.75835 21.283 6.12499 21.0064V10.0742H2.18749Z" fill="#CC9A1B"/>
													<path d="M21 13.3555C21 12.8296 20.7917 12.3396 20.4304 11.9782C20.839 11.5311 21.0472 10.9317 20.9903 10.3078C20.888 9.19569 19.8861 8.32419 18.7084 8.32419H13.3035C13.5712 7.5113 14 6.0212 14 4.8242C14 2.92633 12.3874 1.32422 11.375 1.32422C10.4659 1.32422 9.81658 1.83609 9.78861 1.85709C9.68537 1.94023 9.625 2.06623 9.625 2.1992V5.16632L7.105 10.6255L7 10.6788V20.0571C7.71224 20.3931 8.61347 20.5742 9.18749 20.5742H17.2191C18.172 20.5742 19.0059 19.9319 19.2019 19.0456C19.3025 18.5897 19.2439 18.1303 19.0435 17.7313C19.6901 17.4058 20.125 16.7399 20.125 15.9805C20.125 15.6707 20.0541 15.3741 19.9194 15.1055C20.566 14.78 21 14.1141 21 13.3555Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="21" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Без боли
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M4.5279 11.8555C3.37471 11.8555 2.43945 12.8798 2.43945 14.1428C2.43945 15.4058 3.37471 16.4302 4.5279 16.4302C5.68108 16.4302 6.61634 15.4058 6.61634 14.1428C6.61634 12.8798 5.68108 11.8555 4.5279 11.8555Z" fill="#CC9A1B"/>
													<path d="M14.4992 5.13272C13.573 4.82443 12.2972 4.65039 11.0033 4.65039C9.69576 4.65039 8.46539 4.82443 7.5483 5.13272C6.68114 5.4261 6.37695 5.75926 6.37695 5.86368C6.38149 5.86865 6.38603 5.87362 6.38603 5.87859C6.40873 5.98799 6.68568 6.33109 7.6618 6.63939C8.56527 6.92779 9.75478 7.08691 11.0078 7.08691C12.3018 7.08691 13.5775 6.9079 14.4992 6.60458C15.4889 6.27639 15.7023 5.93826 15.7023 5.86865C15.7023 5.79903 15.4889 5.46091 14.4992 5.13272Z" fill="#CC9A1B"/>
													<path d="M14.7656 7.54323C13.7487 7.88135 12.4184 8.06534 11.0155 8.06534C9.67619 8.06534 8.40043 7.89627 7.41523 7.58301C7.07472 7.48356 6.74784 7.34433 6.43457 7.17029L6.46635 8.57253C6.97484 8.78137 7.45609 9.07972 7.88286 9.45266C7.89194 9.45763 7.90556 9.45763 7.91918 9.4626C8.79088 9.70626 9.88958 9.83554 11.011 9.83554C12.3049 9.83554 13.5807 9.6615 14.5023 9.35321C15.4875 9.02503 15.7009 8.68192 15.7009 8.61728C15.7009 8.51783 15.7236 8.42336 15.7735 8.33882V7.0957C15.4512 7.28963 15.1107 7.44378 14.7656 7.54323Z" fill="#CC9A1B"/>
													<path d="M10.8156 16.518C10.8066 16.4583 10.8066 16.4036 10.8156 16.3439C10.3934 16.339 9.9848 16.3141 9.59435 16.2793C9.38551 16.871 9.0904 17.423 8.72266 17.9152C9.42637 18.0445 10.1301 18.1092 10.8338 18.1191L10.8156 16.518Z" fill="#CC9A1B"/>
													<path d="M8.9597 13.1417C8.75539 12.0676 8.23329 11.093 7.47055 10.382C7.00292 9.93444 6.45357 9.60128 5.86336 9.40238C5.42751 9.25818 4.97804 9.18359 4.52403 9.18359C3.39809 9.18359 2.31301 9.64603 1.47763 10.4764C-0.370184 12.3163 -0.501846 15.4539 1.17799 17.4777C2.85782 19.5015 5.72262 19.6507 7.57043 17.8059C8.51477 16.871 9.05504 15.5384 9.0505 14.1412C9.0505 13.808 9.01872 13.4699 8.9597 13.1417ZM4.52857 17.418C2.87598 17.418 1.53211 15.9462 1.53211 14.1362C1.53211 12.3262 2.87144 10.8543 4.52857 10.8543C6.18117 10.8593 7.52049 12.3262 7.52503 14.1362C7.52503 15.9462 6.18117 17.418 4.52857 17.418Z" fill="#CC9A1B"/>
													<path d="M10.8079 15.3458L10.7898 13.69C10.7807 13.6552 10.7716 13.6204 10.7671 13.5856C10.481 13.5806 10.2041 13.5707 9.93621 13.5508C9.94983 13.7497 9.95891 13.9436 9.95891 14.1375C9.95891 14.5254 9.92259 14.9182 9.85449 15.3011C10.1587 15.3259 10.481 15.3409 10.8079 15.3458Z" fill="#CC9A1B"/>
													<path d="M19.7659 12.6599C18.8442 12.3516 17.573 12.1875 16.2746 12.1875H16.2382C15.0215 12.1875 13.8638 12.3367 12.9739 12.6102C12.0886 12.8787 11.7481 13.182 11.6709 13.3361C11.6845 13.3809 11.6936 13.4256 11.6936 13.4704C11.8026 13.6395 12.1703 13.9328 13.0238 14.1864C13.9137 14.45 15.0714 14.5992 16.2746 14.5992C17.5685 14.5992 18.7988 14.4351 19.7296 14.1317C20.7375 13.8036 20.9599 13.4605 20.9645 13.3859V13.3809C20.9508 13.2964 20.7193 12.9781 19.7659 12.6599Z" fill="#CC9A1B"/>
													<path d="M20.011 17.8314C18.994 18.1695 17.6774 18.3535 16.2745 18.3535C15.0351 18.3535 13.8319 18.2043 12.8785 17.9309C12.4881 17.8264 12.1113 17.6773 11.748 17.4833L11.7617 18.6071L11.7662 18.9104C11.7662 18.9154 11.7662 18.9154 11.7662 18.9204C11.7662 19.0298 12.0568 19.358 12.9239 19.6513C13.8365 19.9547 15.0578 20.1237 16.3699 20.1237C17.6774 20.1237 18.9032 19.9497 19.8294 19.6364C20.7964 19.3082 20.9962 18.9651 20.9962 18.8955V17.3789C20.7238 17.5728 20.3424 17.722 20.011 17.8314Z" fill="#CC9A1B"/>
													<path d="M19.9775 15.0873C18.965 15.4154 17.6529 15.5945 16.2728 15.5945C14.5838 15.5945 12.7814 15.316 11.71 14.7044L11.7281 16.2757C12.1186 16.753 13.7984 17.3547 16.2682 17.3547C17.5848 17.3547 18.8197 17.1856 19.7505 16.8774C20.7266 16.5492 20.9354 16.211 20.9354 16.1414C20.9354 16.042 20.9944 15.9525 20.999 15.8779V14.6348C20.6721 14.8287 20.3316 14.9779 19.9775 15.0873Z" fill="#CC9A1B"/>
													<path d="M14.7579 10.3129C13.741 10.6511 12.4107 10.835 11.0078 10.835C10.3223 10.835 9.63219 10.7853 8.95117 10.6908C9.31438 11.2527 9.59132 11.8793 9.75931 12.5406C10.1498 12.5754 10.5674 12.5953 11.0078 12.5953C11.0215 12.5953 11.0305 12.5953 11.0442 12.5953C11.362 12.2074 11.9204 11.8892 12.7194 11.6406C13.5684 11.377 14.6354 11.2179 15.7704 11.1831V9.85547C15.448 10.0494 15.1121 10.2035 14.7579 10.3129Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="23" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Все цены после подписания договора не подлежат изменению
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M4.98145 8.02502C5.06446 9.06542 5.2551 10.4906 5.68646 11.987C6.60259 15.1647 8.22098 17.4243 10.4992 18.7084C12.7774 17.4243 14.3958 15.1647 15.3119 11.987C15.7433 10.4907 15.9339 9.0655 16.0169 8.02502L10.4992 5.13477L4.98145 8.02502Z" fill="#CC9A1B"/>
													<path d="M19.7629 6.02824C19.7514 5.79647 19.6218 5.58906 19.4237 5.48529L10.7745 0.954749C10.6013 0.864042 10.3975 0.864042 10.2242 0.954749L1.57508 5.48529C1.37693 5.58906 1.24732 5.79647 1.23584 6.02824C1.22928 6.16016 1.08703 9.30108 2.10836 12.9477C2.71269 15.1053 3.60158 16.9898 4.75034 18.5489C6.19799 20.5135 8.05862 21.9587 10.2806 22.8446C10.3511 22.8726 10.4252 22.8867 10.4994 22.8867C10.5736 22.8867 10.6477 22.8726 10.7182 22.8446C12.9401 21.9588 14.8008 20.5135 16.2484 18.5489C17.3972 16.9898 18.2861 15.1053 18.8904 12.9477C19.9117 9.30108 19.7695 6.16016 19.7629 6.02824ZM10.7721 20.0109C10.6861 20.0554 10.5927 20.0776 10.4994 20.0776C10.406 20.0776 10.3126 20.0554 10.2267 20.0109C7.48719 18.5919 5.5634 16.0174 4.5088 12.3592C3.98134 10.5294 3.79091 8.80527 3.72405 7.68112C3.70867 7.42296 3.84214 7.18023 4.06296 7.06456L10.2243 3.83722C10.3975 3.74656 10.6013 3.74651 10.7746 3.83722L16.9359 7.06456C17.1567 7.18019 17.2902 7.42301 17.2748 7.68116C17.2079 8.8054 17.0175 10.5296 16.49 12.3592C15.4354 16.0174 13.5116 18.5918 10.7721 20.0109Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="22" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Гарантия пожизненно 
							ul.card-list
								li.card-list__item Анестезия и постановка 4 имплантов;
								li.card-list__item Фиксация несъемного адаптационного протеза;
								li.card-list__item Диагностика прикуса, компьютерный анализ;
								li.card-list__item Послеоперационное сопровождение.
							.card__infotext <b>*Для иногородних:</b> трансфер от/до аэропортаили Ж/Д вокзала.
						.card
							.card-inner
								.card-col
									.card__title На <span>4x</span> имплантах
									.card__text Для пациентов с нормальным состоянием костной ткани
									.card__text2 Первичная консультация бесплатная!
									.card-price
										span.card-price__text Цена под ключ:
										span.card-price__num 149 900 ₽
									a.submit.popup-link(href="#callback") Записаться на прём
								.card-col
									.card-country
										.card-country__text <span>Nobel</span>, США
										img.card-country__img(src=img+"implantation-cost/logo2.png", alt="")
									ul.card-advantages
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M10.5 0.886719C4.71007 0.886719 0 5.59679 0 11.3867C0 17.1767 4.71007 21.8867 10.5 21.8867C16.2899 21.8867 21 17.1767 21 11.3867C21 5.59679 16.2899 0.886719 10.5 0.886719ZM15.4937 16.8178C15.323 16.9884 15.099 17.0743 14.8751 17.0743C14.6511 17.0743 14.4269 16.9884 14.2565 16.8178L9.8814 12.4429C9.71686 12.2793 9.62505 12.0569 9.62505 11.8243V6.13672C9.62505 5.65286 10.0169 5.26177 10.5 5.26177C10.9831 5.26177 11.3749 5.65286 11.3749 6.13672V11.462L15.4937 15.5806C15.8357 15.9228 15.8357 16.4757 15.4937 16.8178Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="21" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text За 1 день
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M2.18749 10.0742C0.98175 10.0742 0 11.056 0 12.2617V19.2617C0 20.4675 0.98175 21.4492 2.18749 21.4492H4.81249C5.30512 21.4492 5.75835 21.283 6.12499 21.0064V10.0742H2.18749Z" fill="#CC9A1B"/>
													<path d="M21 13.3555C21 12.8296 20.7917 12.3396 20.4304 11.9782C20.839 11.5311 21.0472 10.9317 20.9903 10.3078C20.888 9.19569 19.8861 8.32419 18.7084 8.32419H13.3035C13.5712 7.5113 14 6.0212 14 4.8242C14 2.92633 12.3874 1.32422 11.375 1.32422C10.4659 1.32422 9.81658 1.83609 9.78861 1.85709C9.68537 1.94023 9.625 2.06623 9.625 2.1992V5.16632L7.105 10.6255L7 10.6788V20.0571C7.71224 20.3931 8.61347 20.5742 9.18749 20.5742H17.2191C18.172 20.5742 19.0059 19.9319 19.2019 19.0456C19.3025 18.5897 19.2439 18.1303 19.0435 17.7313C19.6901 17.4058 20.125 16.7399 20.125 15.9805C20.125 15.6707 20.0541 15.3741 19.9194 15.1055C20.566 14.78 21 14.1141 21 13.3555Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="21" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Без боли
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M4.5279 11.8555C3.37471 11.8555 2.43945 12.8798 2.43945 14.1428C2.43945 15.4058 3.37471 16.4302 4.5279 16.4302C5.68108 16.4302 6.61634 15.4058 6.61634 14.1428C6.61634 12.8798 5.68108 11.8555 4.5279 11.8555Z" fill="#CC9A1B"/>
													<path d="M14.4992 5.13272C13.573 4.82443 12.2972 4.65039 11.0033 4.65039C9.69576 4.65039 8.46539 4.82443 7.5483 5.13272C6.68114 5.4261 6.37695 5.75926 6.37695 5.86368C6.38149 5.86865 6.38603 5.87362 6.38603 5.87859C6.40873 5.98799 6.68568 6.33109 7.6618 6.63939C8.56527 6.92779 9.75478 7.08691 11.0078 7.08691C12.3018 7.08691 13.5775 6.9079 14.4992 6.60458C15.4889 6.27639 15.7023 5.93826 15.7023 5.86865C15.7023 5.79903 15.4889 5.46091 14.4992 5.13272Z" fill="#CC9A1B"/>
													<path d="M14.7656 7.54323C13.7487 7.88135 12.4184 8.06534 11.0155 8.06534C9.67619 8.06534 8.40043 7.89627 7.41523 7.58301C7.07472 7.48356 6.74784 7.34433 6.43457 7.17029L6.46635 8.57253C6.97484 8.78137 7.45609 9.07972 7.88286 9.45266C7.89194 9.45763 7.90556 9.45763 7.91918 9.4626C8.79088 9.70626 9.88958 9.83554 11.011 9.83554C12.3049 9.83554 13.5807 9.6615 14.5023 9.35321C15.4875 9.02503 15.7009 8.68192 15.7009 8.61728C15.7009 8.51783 15.7236 8.42336 15.7735 8.33882V7.0957C15.4512 7.28963 15.1107 7.44378 14.7656 7.54323Z" fill="#CC9A1B"/>
													<path d="M10.8156 16.518C10.8066 16.4583 10.8066 16.4036 10.8156 16.3439C10.3934 16.339 9.9848 16.3141 9.59435 16.2793C9.38551 16.871 9.0904 17.423 8.72266 17.9152C9.42637 18.0445 10.1301 18.1092 10.8338 18.1191L10.8156 16.518Z" fill="#CC9A1B"/>
													<path d="M8.9597 13.1417C8.75539 12.0676 8.23329 11.093 7.47055 10.382C7.00292 9.93444 6.45357 9.60128 5.86336 9.40238C5.42751 9.25818 4.97804 9.18359 4.52403 9.18359C3.39809 9.18359 2.31301 9.64603 1.47763 10.4764C-0.370184 12.3163 -0.501846 15.4539 1.17799 17.4777C2.85782 19.5015 5.72262 19.6507 7.57043 17.8059C8.51477 16.871 9.05504 15.5384 9.0505 14.1412C9.0505 13.808 9.01872 13.4699 8.9597 13.1417ZM4.52857 17.418C2.87598 17.418 1.53211 15.9462 1.53211 14.1362C1.53211 12.3262 2.87144 10.8543 4.52857 10.8543C6.18117 10.8593 7.52049 12.3262 7.52503 14.1362C7.52503 15.9462 6.18117 17.418 4.52857 17.418Z" fill="#CC9A1B"/>
													<path d="M10.8079 15.3458L10.7898 13.69C10.7807 13.6552 10.7716 13.6204 10.7671 13.5856C10.481 13.5806 10.2041 13.5707 9.93621 13.5508C9.94983 13.7497 9.95891 13.9436 9.95891 14.1375C9.95891 14.5254 9.92259 14.9182 9.85449 15.3011C10.1587 15.3259 10.481 15.3409 10.8079 15.3458Z" fill="#CC9A1B"/>
													<path d="M19.7659 12.6599C18.8442 12.3516 17.573 12.1875 16.2746 12.1875H16.2382C15.0215 12.1875 13.8638 12.3367 12.9739 12.6102C12.0886 12.8787 11.7481 13.182 11.6709 13.3361C11.6845 13.3809 11.6936 13.4256 11.6936 13.4704C11.8026 13.6395 12.1703 13.9328 13.0238 14.1864C13.9137 14.45 15.0714 14.5992 16.2746 14.5992C17.5685 14.5992 18.7988 14.4351 19.7296 14.1317C20.7375 13.8036 20.9599 13.4605 20.9645 13.3859V13.3809C20.9508 13.2964 20.7193 12.9781 19.7659 12.6599Z" fill="#CC9A1B"/>
													<path d="M20.011 17.8314C18.994 18.1695 17.6774 18.3535 16.2745 18.3535C15.0351 18.3535 13.8319 18.2043 12.8785 17.9309C12.4881 17.8264 12.1113 17.6773 11.748 17.4833L11.7617 18.6071L11.7662 18.9104C11.7662 18.9154 11.7662 18.9154 11.7662 18.9204C11.7662 19.0298 12.0568 19.358 12.9239 19.6513C13.8365 19.9547 15.0578 20.1237 16.3699 20.1237C17.6774 20.1237 18.9032 19.9497 19.8294 19.6364C20.7964 19.3082 20.9962 18.9651 20.9962 18.8955V17.3789C20.7238 17.5728 20.3424 17.722 20.011 17.8314Z" fill="#CC9A1B"/>
													<path d="M19.9775 15.0873C18.965 15.4154 17.6529 15.5945 16.2728 15.5945C14.5838 15.5945 12.7814 15.316 11.71 14.7044L11.7281 16.2757C12.1186 16.753 13.7984 17.3547 16.2682 17.3547C17.5848 17.3547 18.8197 17.1856 19.7505 16.8774C20.7266 16.5492 20.9354 16.211 20.9354 16.1414C20.9354 16.042 20.9944 15.9525 20.999 15.8779V14.6348C20.6721 14.8287 20.3316 14.9779 19.9775 15.0873Z" fill="#CC9A1B"/>
													<path d="M14.7579 10.3129C13.741 10.6511 12.4107 10.835 11.0078 10.835C10.3223 10.835 9.63219 10.7853 8.95117 10.6908C9.31438 11.2527 9.59132 11.8793 9.75931 12.5406C10.1498 12.5754 10.5674 12.5953 11.0078 12.5953C11.0215 12.5953 11.0305 12.5953 11.0442 12.5953C11.362 12.2074 11.9204 11.8892 12.7194 11.6406C13.5684 11.377 14.6354 11.2179 15.7704 11.1831V9.85547C15.448 10.0494 15.1121 10.2035 14.7579 10.3129Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="23" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Все цены после подписания договора не подлежат изменению
										li.card-advantages-item
											.card-advantages-item-icon
												<svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g clip-path="url(#clip0)">
													<path d="M4.98145 8.02502C5.06446 9.06542 5.2551 10.4906 5.68646 11.987C6.60259 15.1647 8.22098 17.4243 10.4992 18.7084C12.7774 17.4243 14.3958 15.1647 15.3119 11.987C15.7433 10.4907 15.9339 9.0655 16.0169 8.02502L10.4992 5.13477L4.98145 8.02502Z" fill="#CC9A1B"/>
													<path d="M19.7629 6.02824C19.7514 5.79647 19.6218 5.58906 19.4237 5.48529L10.7745 0.954749C10.6013 0.864042 10.3975 0.864042 10.2242 0.954749L1.57508 5.48529C1.37693 5.58906 1.24732 5.79647 1.23584 6.02824C1.22928 6.16016 1.08703 9.30108 2.10836 12.9477C2.71269 15.1053 3.60158 16.9898 4.75034 18.5489C6.19799 20.5135 8.05862 21.9587 10.2806 22.8446C10.3511 22.8726 10.4252 22.8867 10.4994 22.8867C10.5736 22.8867 10.6477 22.8726 10.7182 22.8446C12.9401 21.9588 14.8008 20.5135 16.2484 18.5489C17.3972 16.9898 18.2861 15.1053 18.8904 12.9477C19.9117 9.30108 19.7695 6.16016 19.7629 6.02824ZM10.7721 20.0109C10.6861 20.0554 10.5927 20.0776 10.4994 20.0776C10.406 20.0776 10.3126 20.0554 10.2267 20.0109C7.48719 18.5919 5.5634 16.0174 4.5088 12.3592C3.98134 10.5294 3.79091 8.80527 3.72405 7.68112C3.70867 7.42296 3.84214 7.18023 4.06296 7.06456L10.2243 3.83722C10.3975 3.74656 10.6013 3.74651 10.7746 3.83722L16.9359 7.06456C17.1567 7.18019 17.2902 7.42301 17.2748 7.68116C17.2079 8.8054 17.0175 10.5296 16.49 12.3592C15.4354 16.0174 13.5116 18.5918 10.7721 20.0109Z" fill="#CC9A1B"/>
													</g>
													<defs>
													<clipPath id="clip0">
													<rect width="21" height="22" fill="white" transform="translate(0 0.886719)"/>
													</clipPath>
													</defs>
												</svg>
											.card-advantages-item__text Гарантия пожизненно 
							ul.card-list
								li.card-list__item Анестезия и постановка 4 имплантов;
								li.card-list__item Фиксация несъемного адаптационного протеза;
								li.card-list__item Диагностика прикуса, компьютерный анализ;
								li.card-list__item Послеоперационное сопровождение.
							.card__infotext <b>*Для иногородних:</b> трансфер от/до аэропортаили Ж/Д вокзала.

			section.security
				.container
					.shield
						img.shield__img(src=img+"icons/hand-coin.svg", alt="")
					.inner
						.block-title Рассрочка под 0% от банка
						.block-text Помогаем с получением рассрочки даже в сложных случаях
					a.submit.popup-link(href="#callback") Узнать подробнее
			
			section.included
				.container
					.block-title.type2 Что <span>входит в протезирование All on 4</span>
					.inner
						.item
							.item__title Диагностика
							.item__text Диагностика прикуса и компьютерный анализ выполняются на самом современном  и точном оборудовании
						.item
							.item__title Установка имплантов
							.item__text Титановые импланты зафиксируются <br> в кости челюсти и будут выполнять опорную функцию для нового зубного ряда
						.item
							.item__title Работа имплантолога
							.item__text Операцию проводит хирург-имплантолог высшей категории, имеющий огромный практический опыт
						.item
							.item__title Изготовление протеза
							.item__text Протез изготавливается из качественных материалов в собственной зуботехнической лаборатории
						.item
							.item__title Работа ортопеда
							.item__text Примерка, фиксация и корректировка постоянного протеза, изготовленного с учётом индивидуальных параметров
						.item
							.item__title Расходные материалы
							.item__text Все расходные материалы: от анестезии и антисептиков - до материала для слепков для изготовления протеза

			section.security
				.container
					.shield
						img.shield__img(src=img+"icons/term.svg", alt="")
					.inner
						.block-title Предоставляем пожизненную гарантию
						.block-text на импланты и протезы по технологии "Все зубы за 1 день"
					a.submit.popup-link(href="#callback") Консультация врача

			include blocks/portfolio.pug

			section.infoblock
				.container
					img.infoblock__img(src=img+"infoblock/img.jpg", alt="")
					.inner
						.block-title.type2 Избавьтесь быстро <span>от всех зубных проблем!</span>
						.block-text Технология "Все зубы за 1 день" - самый быстрый <br> и надежный способ вернуть утраченную улыбку и восстановить жевательную функцию <br> Запишитесь на первичную бесплатную консультацию <br> специалиста-имплантолога.
						a.submit.popup-link(href="#callback") Записаться на консультацию

			include blocks/doctors.pug
			include blocks/security.pug
			include blocks/stocks.pug
			include blocks/rating.pug
			include blocks/seo.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug