- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			.circle1
			.circle2

			section.breadcrumbs
				.container
					ul.list
						li
							a(href="index.html") На главную
						li
							a(href="reviews.html") Отзывы

			section.mainblock.type2
				.slider
					.slide
						.slide-left
							img.slide__img(src=img+"mainblock/article-img.jpg", alt="")
						.slide-right
							.block-title Рекомендации после имплантации зубов
							.block-text Что делать, чтобы заживление прошло быстро и без боли
							.slide__date Дата: 24.11.2020
							include blocks/_entry-form.pug

			section.eat-after-operation
				.container
					.inner
						.eat-after-operation-left
							.block-title Питание после операции
							.text-container
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
						.eat-after-operation-right
							.doc
								.doc-top
									.doc-top-left
										img.doc__img(src=img+"eat-after-operation/doc.jpg", alt="")
									.doc-top-right
										.doc__title Консультация ведущего <br> имплантолога клиники
										.doc__name Овсепян Карен Тигранович
										.doc__title Кандидат медицинских <br> наук, главный врач клиники
										.doc__title2 Консультация врача
								.doc-bottom
									form.entry-form.horizontal(action="#", method="post")
										.entry-form-row
											.entry-form-label
												<svg viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M19.055 16.8657L16.305 13.604C15.7571 12.9568 14.7706 12.8929 14.1064 13.4628L12.7427 14.6321C12.5891 14.7638 12.3665 14.7773 12.1991 14.6636V14.6636C11.2907 14.0533 10.0474 13.2171 8.78742 11.7217C7.52359 10.223 6.90443 8.84897 6.45161 7.84589V7.84589C6.37016 7.66466 6.41711 7.45041 6.56802 7.32117L7.40222 6.60677L7.93796 6.14669C8.60322 5.57596 8.69812 4.58393 8.15171 3.9351L5.40175 0.672982C4.85527 0.0249922 3.86838 -0.038944 3.20313 0.531794L2.30766 1.30431C2.30039 1.31057 2.29954 1.32153 2.30576 1.32884V1.32884C2.31145 1.33555 2.31128 1.34544 2.30536 1.35195C1.99905 1.68925 1.734 2.08456 1.52543 2.5169C1.32993 2.93351 1.19703 3.33554 1.11873 3.74295C0.465799 7.00799 1.72327 10.1464 5.45659 14.5741C10.6172 20.6941 15.1667 20.6432 15.3632 20.6386C15.7915 20.6228 16.2062 20.5544 16.6321 20.4269C17.086 20.2901 17.5161 20.0894 17.8959 19.8383C17.9016 19.8345 17.9091 19.8354 17.9137 19.8403V19.8403C17.9188 19.8456 17.9272 19.8461 17.9328 19.8414L18.8414 19.0785C19.5054 18.5078 19.6011 17.5155 19.055 16.8657Z"/>
												</svg>
												input.entry-form__input(type="tel", name="entry-form-tel" placeholder="Введите номер")
											button.entry-form__btn.submit(type="submit") Записаться

			section.after-operation
				.container
					.block-title Что нельзя делать после процедуры
					.item
						.text-container
							h3 1. Lorem ipsum dolor
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget Lorem ipsum dolor sit amet. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
						.item-img
							img.item__img(src=img+"articles/img2.jpg", alt="")
					.item
						.text-container
							h3 2. Lorem ipsum dolor
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
						.item-img
							img.item__img(src=img+"articles/img2.jpg", alt="")
					.item
						.text-container
							h3 3. Lorem ipsum dolor
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
						.item-img
							img.item__img(src=img+"articles/img2.jpg", alt="")

			section.general-recommendations
				.container
					.block-title Общие рекомендации
					.general-recommendations__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

			section.similar-articles
				.container
					.block-title Похожие статьи
					.slider
						a(href="#").slide
							img.slide__img(src=img+"articles/img.jpg", alt="")
							.slide__title Рекомедации после имплантации
							.slide__text Что делать, чтобы заживление прошло быстро и без боли
						a(href="#").slide
							img.slide__img(src=img+"articles/img.jpg", alt="")
							.slide__title Рекомедации после имплантации
							.slide__text Что делать, чтобы заживление прошло быстро и без боли
						a(href="#").slide
							img.slide__img(src=img+"articles/img.jpg", alt="")
							.slide__title Рекомедации после имплантации
							.slide__text Что делать, чтобы заживление прошло быстро и без боли
						a(href="#").slide
							img.slide__img(src=img+"articles/img.jpg", alt="")
							.slide__title Рекомедации после имплантации
							.slide__text Что делать, чтобы заживление прошло быстро и без боли

			include blocks/more-services.pug

			include blocks/seo.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug