- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			.circle1
			.circle2

			section.breadcrumbs
				.container
					ul.list
						li
							a(href="index.html") На главную
						li
							a(href="reviews.html") Отзывы

			section.mainblock.type2
				.slider
					.slide
						.slide-left
							img.slide__img(src=img+"mainblock/reviews-img.jpg", alt="")
						.slide-right
							.block-title Отзывы наших пациентов
							.block-text Ваши рекомендации - это лучшая награда за качественную работу <br> Спасибо, что выбрали нас!
							ul.action
								li
									a.submit.popup-link(href="#popup-reviews") Оставить свой отзыв 

			section.advantages
				.container
					.item
						.img-wrap
							img.item__img(src=img+"icons/dentist.svg", alt="")
						.item__title Опытные врачи
						.item__text Стаж всех врачей от 8 до 20 лет
					.item
						.img-wrap
							img.item__img(src=img+"icons/tooth-ok.svg", alt="")
						.item__title Современные технологии
						.item__text Передовые методы лечения <br> и высокоточная техника
					.item
						.img-wrap
							img.item__img(src=img+"icons/certificate.svg", alt="")
						.item__title Высокое качество
						.item__text Клиника сертифицирована <br> по стандарту ISO 9001

			section.reviews
				.container
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв
					.item
						.item-top
							.item-img
								img.item__img(src=img+"reviews/img.jpg", alt="")
							.item-top-inner
								.item__name Алина Евтушенко
								.item__operation Имплантация зубов
								.item__doc Врач: <span>Овсепян Карен Тигранович</span>
						.item__text Карен Тигранович установил мне 2 импланта и 2 керамические коронки. Другие врачи не хотели браться за мой случай, а он очень помог. Всем рекомендую Карена Тиграновича, это врач по призванию!
						.item-line
							.item__date Дата отзыва: <span>24.11.2020</span>
							a.item__videolink.popup-video(href="#") Видео отзыв

			.popup.mfp-hide#popup-reviews
				.popup__title Воспользовались нашими услугами?
				.popup__subtitle Оставьте о нас своё мнение
				form.form(action="#")
					.form-item
						label.form__label(for="reviews-name")
							<svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M7.62924 2.04675C6.37699 2.04675 5.36185 3.06189 5.36185 4.31413C5.36185 5.56637 6.37699 6.58151 7.62924 6.58151C8.88148 6.58151 9.89662 5.56637 9.89662 4.31413C9.89662 3.06189 8.88148 2.04675 7.62924 2.04675ZM3.85026 4.31413C3.85026 2.22706 5.54217 0.535156 7.62924 0.535156C9.7163 0.535156 11.4082 2.22706 11.4082 4.31413C11.4082 6.4012 9.71631 8.0931 7.62924 8.0931C5.54217 8.0931 3.85026 6.4012 3.85026 4.31413ZM0.0712891 16.4068C0.0712891 12.2327 3.45511 8.8489 7.62924 8.8489C11.8034 8.8489 15.1872 12.2327 15.1872 16.4068C15.1872 16.8243 14.8488 17.1626 14.4314 17.1626C14.014 17.1626 13.6756 16.8243 13.6756 16.4068C13.6756 13.0675 10.9685 10.3605 7.62924 10.3605C4.28993 10.3605 1.58288 13.0675 1.58288 16.4068C1.58288 16.8243 1.2445 17.1626 0.827084 17.1626C0.40967 17.1626 0.0712891 16.8243 0.0712891 16.4068Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
								<defs>
								<linearGradient id="paint0_linear" x1="7.62924" y1="0.535156" x2="7.62924" y2="17.1626" gradientUnits="userSpaceOnUse">
								<stop stop-color="#CE9D20"/>
								<stop offset="0.583333" stop-color="#D6A526"/>
								<stop offset="1" stop-color="#DFAD2D"/>
								</linearGradient>
								</defs>
							</svg>
						input.form__input(type="text" name="reviews-name" id="reviews-name" placeholder="Как вас зовут?")
					.form-item
						label.form__label(for="reviews-tel")
							<svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M1.07244 4.46095C0.963937 3.51925 1.63937 2.6679 2.58106 2.5594L14.5167 1.18415C15.4584 1.07564 16.3097 1.75108 16.4182 2.69277L18.1864 18.0385C18.2949 18.9803 17.6195 19.8316 16.6778 19.9401L4.74217 21.3153C3.80048 21.4239 2.94913 20.7484 2.84062 19.8067L1.07244 4.46095ZM14.7131 2.88923L2.77753 4.26448L3.85808 13.6425L15.7937 12.2672L14.7131 2.88923ZM15.9902 13.9723L4.05455 15.3475L4.54571 19.6103L16.4813 18.235L15.9902 13.9723ZM8.56284 16.9877C8.50859 16.5169 8.84631 16.0912 9.31715 16.037L11.0222 15.8405C11.4931 15.7863 11.9188 16.124 11.973 16.5948C12.0273 17.0657 11.6896 17.4913 11.2187 17.5456L9.51362 17.7421C9.04277 17.7963 8.6171 17.4586 8.56284 16.9877Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
								<defs>
								<linearGradient id="paint0_linear" x1="8.54887" y1="1.87177" x2="10.71" y2="20.6277" gradientUnits="userSpaceOnUse">
								<stop stop-color="#CE9D20"/>
								<stop offset="0.583333" stop-color="#D6A526"/>
								<stop offset="1" stop-color="#DFAD2D"/>
								</linearGradient>
								</defs>
							</svg>
						input.form__input(type="tel" name="reviews-name" id="reviews-tel" placeholder="Номер телефона")
					.form-item
						label.form__label(for="reviews-email")
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.9436 0.212891C16.0523 0.215082 16.1554 0.234952 16.2584 0.283929C16.3647 0.334725 16.4581 0.411261 16.5288 0.505474C16.5751 0.574518 16.5643 0.553799 16.5288 0.505474C16.6235 0.631798 16.6751 0.78648 16.6751 0.944348C16.6748 0.905387 16.6732 0.888476 16.6751 0.944348V11.9162C16.6751 12.3202 16.3476 12.6477 15.9436 12.6477H1.31447C0.910493 12.6477 0.583008 12.3202 0.583008 11.9162V0.944348C0.583008 0.813397 0.618532 0.68337 0.685356 0.571063C0.821531 0.341612 1.0574 0.218073 1.31447 0.212891H15.9436ZM15.2122 2.40726L9.06792 7.01545C8.83385 7.191 8.52079 7.20855 8.27092 7.06811L8.19017 7.01545L2.04592 2.40726V11.1848H15.2122V2.40726ZM3.50884 1.67581L8.62904 5.51596L13.7492 1.67581H3.50884Z" fill="#E2C370"/>
							</svg>
						input.form__input(type="email" name="reviews-name" id="reviews-email" placeholder="Эл.почта")
					.form-item
						label.form__label(for="reviews-link")
							<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.62988 2.45117C8.30417 2.45117 6.43478 2.51076 4.01464 2.63139C3.13938 2.67502 2.43133 3.35936 2.35792 4.23264C2.24692 5.55313 2.19238 6.69715 2.19238 7.66783C2.19238 8.65038 2.24826 9.81047 2.36199 11.1513C2.43515 12.0137 3.12781 12.6931 3.99153 12.7496C6.04946 12.8842 7.92857 12.9512 9.62988 12.9512C11.3314 12.9512 13.2112 12.8842 15.2703 12.7496C16.1344 12.6931 16.8271 12.0132 16.8999 11.1504C17.0122 9.82007 17.0674 8.66017 17.0674 7.66783C17.0674 6.68758 17.0135 5.5437 16.904 4.23347C16.831 3.35985 16.1228 2.67507 15.2471 2.63143C12.8258 2.5108 10.9557 2.45117 9.62988 2.45117ZM3.92752 0.883557C6.35769 0.762426 8.26086 0.701172 9.62988 0.701172C10.999 0.701172 12.9029 0.76247 15.3342 0.8836C17.0854 0.970865 18.5019 2.34041 18.6479 4.08768C18.7603 5.43219 18.8174 6.62649 18.8174 7.66783C18.8174 8.72195 18.7589 9.93277 18.6437 11.2976C18.4981 13.0231 17.1125 14.3828 15.3845 14.4958C13.2948 14.6325 11.3763 14.7012 9.62988 14.7012C7.88369 14.7012 5.96584 14.6325 3.87732 14.4959C2.14989 14.3829 0.764569 13.0241 0.618256 11.2992C0.501665 9.9247 0.442383 8.71319 0.442383 7.66783C0.442383 6.63503 0.500254 5.44009 0.61407 4.08606C0.760889 2.3395 2.17699 0.970824 3.92752 0.883557Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M7.44335 5.78018C7.44335 4.80402 8.55148 4.17853 9.3908 4.74285L12.2771 6.68361C13.0033 7.17182 13.0177 8.26909 12.269 8.76389L9.38273 10.6715C8.57182 11.2075 7.44335 10.6354 7.44335 9.62882V5.78018ZM9.19335 6.71891L10.6784 7.71749L9.19335 8.699V6.71891Z" fill="url(#paint1_linear)" fill-opacity="0.65"/>
								<defs>
								<linearGradient id="paint0_linear" x1="9.62988" y1="0.701172" x2="9.62988" y2="14.7012" gradientUnits="userSpaceOnUse">
								<stop stop-color="#CE9D20"/>
								<stop offset="0.583333" stop-color="#D6A526"/>
								<stop offset="1" stop-color="#DFAD2D"/>
								</linearGradient>
								<linearGradient id="paint1_linear" x1="9.62988" y1="0.701172" x2="9.62988" y2="14.7012" gradientUnits="userSpaceOnUse">
								<stop stop-color="#CE9D20"/>
								<stop offset="0.583333" stop-color="#D6A526"/>
								<stop offset="1" stop-color="#DFAD2D"/>
								</linearGradient>
								</defs>
							</svg>
						input.form__input(type="text" name="reviews-link" id="reviews-link" placeholder="Ссылка на видео отзыв")
					.form-item
						textarea.form__input(name="reviews-paceholder" placeholder="Текст сообщения...") 
					.form-item
						.fileinput-wrap
							input.fileinput(type="file", name="contact-file", id="fileinput" data-multiple-caption="{count} файлa(ов) выбрано" multiple)
							label.fileinput__label(for="fileinput") <span>Прикрепить фото</span>
					.form-item
						button.form__btn.submit(type="submit") Отправить


			include blocks/security.pug
			include blocks/more-services.pug

			include blocks/seo.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug