- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.breadcrumbs
				.container
					ul.list
						li
							a(href="index.html") На главную
						li
							a(href="vinirs.html") Виниры

			section.mainblock.type3
				.slider
					.slide
						.slide-left
							img.slide__img(src=img+"mainblock/vinirs-img.jpg", alt="")
						.slide-right
							.block-title Виниры <b>за 1 приём</b> от 9 500 ₽ <span>с гарантией по договору 15 лет!</span>
							.block-text Записаться <span>на бесплатную консультацию:</span>
							include blocks/_entry-form.pug
							ul.anchor-menu
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#category-about") Описание
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#setting-indication") Показания к установке
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#vinir-types") Виды виниров
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#portfolio") Примеры
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#doctors") Врачи
								li.anchor-menu-item
									a.anchor-menu__link.anchor(href="#stocks") Акции
			
			section.advantages.type3
				.block-title.type2 <span>Верните</span> себе <span>красивую улыбку</span>
				.container
					.item
						.img-wrap
							img.item__img(src=img+"icons/dentist.svg", alt="")
						.item__title Сделать лицо моложе
						.item__text Зубы белые, красивые и здоровые, что даёт визуальный эффект омоложения. <br> Вы будете выглядеть на 10 лет моложе
					.item
						.img-wrap
							img.item__img(src=img+"icons/tooth-ok.svg", alt="")
						.item__title Придать естественную форму
						.item__text Качественные правильно установленнные виниры повторяют анатомическую форму зубов и скрывают их недостатки
					.item
						.img-wrap
							img.item__img(src=img+"icons/certificate.svg", alt="")
						.item__title Защитить зубы
						.item__text Накладки защищают от агрессивных внешних воздействий, благодаря чему зубы преобретают дополнительную прочность

			section.category-about#category-about
				.container
					.category-about-left
						img.category-about__img(src=img+"category-about/img2.jpg", alt="")
					.category-about-right
						.block-title.type2 Что такое виниры и зачем они нужны
						.text-container
							p Эстетический вид зубов может в любой момент нарушиться по самым разным причинам – из-за сколов и трещин эмали, изменения ее цвета, искривленных зубов.
							p Виниры помогут быстро исправить такие недостатки и приобрести настоящую голливудскую улыбку.
							p Они представляют собой сверхтонкие накладки на передние зубы, которые делаются из керамики или композитного материала и крепятся с помощью специального состава.
							p Благодаря сверхтонкой конструкции, выглядят естественно как настоящие зубы.
			
			section.setting-indication#setting-indication
				.container
					.block-title.type2 <span>Показания к установке</span> виниров 
					.inner
						.item
							img.item__img(src=img+"setting-indication/img1.jpg", alt="")
							.item__title Нарушение формы зубов
							.item__text в результате травмы или стирания
						.item
							img.item__img(src=img+"setting-indication/img2.jpg", alt="")
							.item__title Нарушение формы зубов
							.item__text пигментные пятна, трещины эмали  <br> зуба, возрастные изменения цвета
						.item
							img.item__img(src=img+"setting-indication/img3.jpg", alt="")
							.item__title Нарушение формы зубов
							.item__text промежутки между передними и <br> боковыми зубами
						.item
							img.item__img(src=img+"setting-indication/img4.jpg", alt="")
							.item__title Нарушение формы зубов
							.item__text при широкой улыбке видна значительная <br> часть десны на верхней челюсти

			section.vinir-types#vinir-types
				.container
					.block-title.type2 <span>Виды виниров</span> и их отличия 
					.inner
						.item
							img.item__img(src=img+"vinir-types/img1.jpg", alt="")
							.item__title Керамические виниры
							.item__text <b>Срок службы:</b> более 15 лет при правильном уходе
							.item-price
								.item-price__text Стоимость:
								.item-price__num <span>от</span> 15 000 ₽
							.item-line
								a.item__infolink.popup-link(href="#vinir1") Узнать больше
								a.item__link.submit.popup-link(href="#callback") Записаться на прём
						.item
							img.item__img(src=img+"vinir-types/img2.jpg", alt="")
							.item__title Композитные виниры
							.item__text <b>Срок службы:</b> более 15 лет при правильном уходе
							.item-price
								.item-price__text Стоимость:
								.item-price__num <span>от</span> 9 500 ₽
							.item-line
								a.item__infolink.popup-link(href="#vinir2") Узнать больше
								a.item__link.submit.popup-link(href="#callback") Записаться на прём
						.item
							img.item__img(src=img+"vinir-types/img2.jpg", alt="")
							.item__title Циркониевые виниры
							.item__text <b>Срок службы:</b> более 15 лет при правильном уходе
							.item-price
								.item-price__text Стоимость:
								.item-price__num <span>от</span> 18 900 ₽
							.item-line
								a.item__infolink.popup-link(href="#vinir3") Узнать больше
								a.item__link.submit.popup-link(href="#callback") Записаться на прём

			section.text-info
				.container
					.text-info-left
						.block-title Как правильно выбрать виниры?
						.block-text Вид и цвет подбирается с учетом пожеланий пациента и <br> профессиональных рекомендаций стоматолога. <br> При выборе очень важно учеть множество факторов, которые могут <br> повлиять на срок службы виниров!
						ul.action
							li.action-item
								a.action__link.submit.popup-link(href="#callback") Записаться на консультацию
					.text-info-right
						img.text-info__img(src=img+"text-info/img.jpg", alt="")

			include blocks/portfolio.pug

			section.security
				.container
					.shield
						img.shield__img(src=img+"icons/hand-coin.svg", alt="")
					.inner
						.block-title Рассрочка под 0% от банка
						.block-text Помогаем с получением рассрочки даже в сложных случаях
					a.submit.popup-link(href="#callback") Узнать подробнее

			include blocks/doctors.pug
			include blocks/security.pug

			section.material-cost
				.container
					.block-title Стоимость работ и материалов
					.items
						.item.info
							.item__text Консультация с составлением плана лечения
							.item__price 1 500 ₽
						.item
							.item__text Керамические виниры
							.item__price от 15 570 ₽
						.item
							.item__text Из диоксида циркония
							.item__price от 17 000 ₽
						.item.info
							.item__text Композитные виниры
							.item__price от 17 050 ₽
						.item
							.item__text Керамические ультратонкие виниры
							.item__price от 29 300 ₽
					ul.action
						li
							a.infolink(href="#") Стоимость зависит от методики и системы
						li
							a.submit.popup-link(href="#callback") Записаться

			include blocks/stocks.pug
			include blocks/rating.pug
			include blocks/seo.pug
			include blocks/contact.pug



		include blocks/footer.pug
		include blocks/scripts.pug